[Unit]
Description=SMM Panel - Cron: Expire Old Pending Deposits
After=network.target

[Service]
Environment=PATH=/home/padsu/.local/bin:/usr/bin:/bin
Type=oneshot
User=padsu
WorkingDirectory=/home/padsu/scripts/smm-panel
ExecStart=/home/padsu/scripts/smm-panel/node_modules/.bin/tsx /home/padsu/scripts/smm-panel/cron/deposit-expire.ts

[Install]
WantedBy=multi-user.target