[Unit]
Description=SMM Panel - Cron: Sync Provider Services
After=network.target

[Service]
Type=oneshot
User=padsu
WorkingDirectory=/home/padsu/scripts/smm-panel
ExecStart=/home/padsu/scripts/smm-panel/node_modules/.bin/tsx /home/padsu/scripts/smm-panel/cron/service-sync.ts

[Install]
WantedBy=multi-user.target